<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK"crossorigin="anonymous" >
/*Generelle*/

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #4e4747;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    color: #4e4747;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #4e4747;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #4e4747;
}

a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;

    text-decoration: none;
    color: #263F0B;
}

@media only screen and (min-width: 768px) {
        {
        font-size: 1.4rem;
    }
}


@media only screen and (min-width: 768px) {
    #margin_box {
        margin: 0 27vw;
    }
}







/*NAV*/


nav img {
    width: 80%;
}

#menu a {
    color: #4e4747
}

#menu a:hover {
    color: #D0D7CA;
}

.hidden {
    display: none;
}

#burger {
    border: none;
}

@media only screen and (min-width: 100px) {
    #menu_logo {
        display: none;
    }

    nav a {
        font-size: 1.8rem;
    }

    #menu ul {
        height: 100vh;
    }


}

@media only screen and (min-width: 992px) {
    #menu_logo {
        display: block;
    }

    nav a {
        font-size: 1.2rem;
    }

    #menu ul {
        height: 100%;
    }
}









/*Forside*/

.omkring {
    position: relative;
}

.streg {
    position: absolute;
    width: 100vw;
}

.omkring video {
    z-index: 1000;
}

.splash_overskrift {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 8vw;
    color: #4e4747;
}

.workshop_img {
    z-index: 1000;
}

.f_kasse {
    width: 50%;
}

.h2_mødre {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .splash_overskrift {
        transform: rotate(90deg);
        flex-direction: row-reverse;
        font-size: 4.5vw;
    }

    .column_p {
        column-count: 2;
    }

    .f_kasse {
        width: 20%;
    }
}















/* inspiration */
.tre-billeder {
    object-fit: cover;
    object-position: center;
    height: 30vh;

}

.billede_link_guide {
    background-image: url(img/boeredygtigegaver-2.png);
    opacity: 50%;
    background-size: cover;
    background-position: center;
}

.myDiv {
    position: relative;
    z-index: 1;
}

.myDiv .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(img/boeredygtigegaver-2.png) center center;
    background-size: cover;
    opacity: .4;
    width: 100%;
    height: 100%;
}

.guide-link:hover {
    background-color: #263F0B;
    transition: 0.2s;
}

.guide-link:hover a {
    color: white;
}

.myDiv:hover .bg {
    opacity: 100;
    transition: 0.2s;
}
